.oxmod-oxm-icons{
  /* CSS */
  .icon-row{
    display: -webkit-flex;
    flex-wrap: nowrap;
    justify-content:space-between;
  }
  .icon{
    //display: inline-block;
    //width:40px;
   // border-left:solid 1px #ccc;
    //border-bottom:solid 1px #ccc ;
    text-align: center;
    padding:5% 0;
    width:100%;
    &:first-child{
      border-left-style: none;
    }
    &:hover{
      background-color: #f1f1f1;
    }
    img{
      width:50px;
      border-radius: 50%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size:cover;

    }
    text-decoration: none;
    color:#666;
    &>nobr{
      font-size:12px;
      max-width:60px;
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
